<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtscsWvcEptqYCZIAAlWoTnVXmaYSsnuY</string>
	<key>GCM_SENDER_ID</key>
	<string>18043779408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dimplom</string>
	<key>PROJECT_ID</key>
	<string>diplom-1-6bbaf</string>
	<key>STORAGE_BUCKET</key>
	<string>diplom-1-6bbaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18043779408:ios:24bce3c679b6e843169455</string>
</dict>
</plist>